/* styles.css */

/* Center-align the entire form */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2; /* Background color for the entire page */
    flex-direction: column; /*Added after chatGPT*/

}

/* Style the form container */
form {
    text-align: center;
    width: 100%;
    max-width: 500px; /* Limit the maximum width of the form; Updated from 400 to 500*/
    padding: 20px;
    background-color: #fff; /* Form background color */
    border-radius: 10px; /* Rounded corners for the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a slight elevation effect */
}

/* Style the form title */
h1 {
    font-family: Arial, sans-serif; /* First font style for the form title */
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px; /* Add some space below the title */
    color: #333; /* Title color */
}

/* Style the labels as block elements */
label {
    display: block;
    font-family: 'Times New Roman', serif; /* Second font style for labels */
    font-size: 16px;
    margin-bottom: 5px; /* Add some space below each label */
}

/* Style the input fields */
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 80%; /*Updated from 100% to 80%*/
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

/* Hover effect for the submit button */
input[type="submit"]:hover {
    background-color: #0056b3; /* Darker background color on hover */
}
