
#text-color {
	color: darkred;
}

.text-center {
	text-align: center;
}

.list-style {
	list-style: none;
}


body {
	background-color: orange;
}

.font-size-head {
	font-size: 3rem;
}

.font-size-list {
	font-size: 2rem;
}